<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.dao.UserDao">
    <select id="getUserInfo" resultType="com.yang.pojo.Users">
        select * from mybatis.users
    </select>
    <select id="getUserINfoById" parameterType="int" resultType="com.yang.pojo.Users">
        select * from mybatis.users where id=#{id}
    </select>
</mapper>